//변수처리

//size width
$siteWidth: 1400px;

//text size
$fontSizeSmall: 12px;
$fontSizeNormalSmall: 15px;
$fontSizeNormal: 16px;
$fontSizeMid: 18px;
$fontSizeSBig: 21px;
$fontSizeSBigger: 35px;
$fontSizeSmuchBigger: 40px;

//title text size
$titleFontSizeSmall: 21px;
$titleFontSizeNormal: 24px;
$titleFontSizeMid: 26px;
$titleFontSizeBig: 32px;

//background color
$layoutBg: #fff;

//font color
$fontColorBasic: #444;
$fontColorPrimary: #333;

//font color
$fontTitleColorBasic: #000;
$fontTileColorPrimary: #053863;
// $fontColorHover: #0890c0;

//border color
$borderColorPrimary: #333;
$borderColor: #666;

//button color
// $gbtnColor: #003769;
// $gbtnColorHover: #0890c0;

//table bg
// $tableBg: #0890c0;
